* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #111213;
  --secondary-color: #8f96a3;
  --third-color: rgb(35, 134, 54);
  --blue-color: rgb(31, 111, 235);
  --text-color: #f1f3f9;
}

body {
  background-color: var(--primary-color);
}

header {
  padding: 5px;
  display: flex;
  border-bottom: 1px solid var(--text-color);
}

header h1 {
  margin-left: 30px;
  color: var(--text-color);
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}

.container h1 {
  margin: 40px 0;
  color: var(--text-color);
}

form {
  display: flex;
  max-width: 1080px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

form input {
  font-size: 24px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  color: var(--text-color);
  border-bottom: 2px solid var(--text-color);
  padding: 8px;
}

form button {
  background-color: var(--blue-color);
  color: var(--text-color);
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
}

button:hover {
  background-color: var(--third-color);
  color: var(--text-color);
  transition: 0.5s;
}

table {
  width: 100%;
}

table th {
  padding: 16px;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px solid var(--text-color);
  color: var(--text-color);
}

table td {
  text-align: center;
  color: var(--text-color);
  padding: 16px 0;
  font-size: 18px;
  border-bottom: 1px solid rgba(249, 248, 248, 0.553);
}
